
.icon-reply-outline:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\f031'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */